body{
    background: grey;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-- Style Code for Navigation --*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0D0D0D;
    padding: 10px;
}

.navbar img{
    display: flex;
    height: 50px;
    width: 50px;
    border-radius: 0px;
}

.navlinks {
    display: flex;
    list-style: none;
}

.navlinks a {
    font-family: "TASA Explorer", sans-serif;
    color: white;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    letter-spacing: 2.5px;
}

.navlinks a:hover, .navlinks a:focus{
    color: grey;
}