body {
    background: grey;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-- Navigation --*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    padding: 10px;
}

.navbar img{
    display: flex;
    height: 50px;
    width: 50px;
}

.navlinks {
    display: flex;
    list-style: none;
}

.navlinks a {
    font-family: "TASA Explorer", sans-serif;
    color: white;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    letter-spacing: 2.5px;
}

.navlinks a:hover, .navlinks a:focus{
    color: grey;
}

/*-- Section Setup --*/
.sectionsetup {
    display: flex;
    justify-content: center; 
    margin: 25px;
}

/*-- Introduction --*/
.introduction {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 1000px;
    padding: 25px;
}

.introduction h1, p {
    font-family: "TASA Explorer", sans-serif;
    color: white;
    letter-spacing: 2.5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.introduction h1 {
    font-size: 50px;
}

.introduction p {
    font-size: 20px;
    padding-bottom: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px;
    gap: 20px;
}

.griditem {
    background-color: grey;
    width: 300px;
    list-style: none;
    padding: 25px;
}

.griditem a {
    font-family: "TASA Explorer", sans-serif;
    color: white;
    letter-spacing: 2.5px;
    font-size: 20px;
    text-decoration: none;
}

.griditem a:hover, .griditem a:focus {
    color: black;
}

/*-- Footer --*/
.footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 25px;
}

.footer p {
    font-family: "TASA Explorer", sans-serif;
    font-size: 15px;
    color: white;
    letter-spacing: 2.5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}